/* Gerais */
body{
    font-family: "Roboto", sans-serif;
    
}

.row{
    margin: 0;
}

p, li {
    color:#444;
    font-size: 14px;
}

/* Barra de navegação */

header, .navbar{
    background-color: #393939;
}

#navcontainer{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 70px;
}

.navbar-brand{
    padding: 0;
    color: #fff;
}

.navbar-brand:hover{
    color: #fff;
}

#navbarNav a {
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

.navbar-nav > .nav-item > #contact-menu{
    border: 3px solid #cf974f;
    background-color: #cf974f;
    border-radius: 15px;
    transition: .5s;
    
}
.navbar-nav > .nav-item > #contact-menu:hover{
    border: 3px solid #cf974f;
    background-color: transparent;
}


/* Slider */
.container-fluid{
    padding: 0;
}

#mainSlier .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption{
    top: 30%;
    text-shadow: 1.5px 1.5px black;
}

#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 100px;
    color:#fff;

}

.main-btn{
    border: 3px solid #cf974f;
    color: #fff;
    background-color: #cf974f;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    transition: .5s;
    text-shadow: none;
    
}

.main-btn:hover{
    background-color: transparent;
    color: #fff;
}

.carousel-indicators .active{
    background-color: #cf974f;
}

/* Sobre a empresa */

#about{
    background-color: #f9f9f9;
    border-bottom: 1px solid #333;
    padding-bottom: 50px;
}

.main-title{
    color: #444;
    margin: 20px 0 65px 0;
    font-size: 40px;
    text-align: center;    
}

.about-title{
    margin-top: 20px;
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about p{
    line-height: 20px;
}

#local-button{
    padding: 10px;
    border: 3px solid #cf974f;
    background-color: #cf974f;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    transition: .5s;   
}

#local-button i{
    margin-left: 5px;
}

#local-button:hover{
    color: #444;
    background-color: transparent;
}

#about-list{
    list-style: none;
    padding-left: 0;
}

#about-list li{
    line-height: 30px;
    float: left;
    margin: 10px;
    padding-bottom: 40px;
}

#about-list i{
    color: #cf974f;
}

/* Serviços */

#services{
    background-color: #444;
}

.services-box{
    text-align: center;
    margin-bottom: 50px;
    
}

.services-box i, #services h3, .services-box h4, .services-box p{
    color: #fff;
}

.services-box i, .services-box h4{
    transition: .5s;
}

.services-box i {
    font-size: 40px;
    margin-bottom: 20px;
}

.services-box h4{
    font-size: 24px;
    margin-bottom: 20px;
}

.services-box:hover > i, .services-box:hover > h4 {
    color: #cf974f;
}



/* Time */
#barbers{
    background-color: #f9f9f9;
    border-bottom: 1px solid #333;
    padding-bottom: 40px;
}

.centered{
    margin: 0 auto !important;
}

.card-body{
    text-align: center;
}

.card-body a{
    text-decoration: none;
    color: #444;   
}

.card-body a:hover > i{
    color: #cf974f;
}

.card-body i{
    margin-right: 3px;
}

/* Galeria */
#galery{
    background-color: #444;
    border-bottom: 1px solid #333;
}

#galery, #galery p, #galery h3{
    color: #fff;
}

.galery-box{
    margin-bottom: 30px;    
}

#filter-btn-box{
    margin-bottom: 50px;
    text-align: center;
}

#galery .filter-btn:focus{
    outline: none;
    box-shadow: none;
}

#galery .filter-btn{
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 30px;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;

}


#galery .filter-btn.active, #galery .filter-btn:hover{
    color:#fff;
    background-color: #cf974f;
    border-color: #cf974f;
    
}

/* Contato */
#contact{
    text-align: center;
}

.contact-box{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #cf974f ;
}

#contact-title{
    margin-top: 50px;
    text-align: center;
}

#contact-title h5{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 400;
}
#contact-title h6{
    font-size: 15px;
    font-weight: 400;
}

.contact-box a{
    font-size: 16px;
    text-decoration: none;
    color: #444;
}

.contact-box a:hover > i{
    color: #cf974f;
}

.contact-box i{
    margin-right: 3px;
    color: #444;
}

.fa-user-circle{
    font-size: 50px;
}

.contactFinish{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.contactFinish i{
    font-size: 50px;
}

.contactFinish a{
    color: #444;
    text-decoration: none;
    transition: .5s;
}

.contactFinish a:hover > i{
    color: #cf974f;
}

/* Copy */

#copy-area{
    background-color: #f1f1f1;
}

#copy-area .container{
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p{
    margin-bottom: 0;
}

#copy-area .container a{
    font-weight: bold;
    color: #444;
    text-decoration: none;
}

#copy-area .container a:hover{
    color: #cf974f;
}

/* Responsive */

@media (max-width: 768px){
    /* geral */
    .container{
        padding: 20px 0;
    }

    /* Slider */

    #mainSlider .carousel-inner, #mainSlider .carousel-item{
        height: auto;
    }

    #mainSlider .carousel-caption h2{
        font-size: 28px;
    }

    #mainSlider .carousel-caption p{
        font-size: 18px;
        margin-bottom: 40px;
        
    }

    .carousel-caption{
        left: 10%;
        right: 10%;
    }

    /* About */
    
    #about img{
        margin-top: 100px;
    }

    /* Time */

    .card-title{
        font-size: 14px;
    }

    .card-text{
        font-size: 12px;
    }

}    